  /*-Omri mizrahi 303082549
  Adi tayri 205530967   */

/*designe for the calculator link */


body{
     /* background-image: url("background.JPG");*/
      
}
#star{
    color: red;
    display: inline;
}

label{
	display:inline-block; 
	width:200px;
    font-size: 20px;
    font-family:  Georgia, 'Times New Roman', Times, serif;
	color: #1a0000;
    
}
input{
	margin-top:10px;
	position:inline-block;
	}
 /*buttons design*/   
#cmdCalc ,#cmdReset{
    color:#660066;
    font-style: oblique;
    border: 1px solid;    
    border-radius: 5px; 

}
/*calculator design*/
.calc{
    float: left;
   
     background-color: palegoldenrod;
    border-radius: 15px;
    margin-left: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
  
   font-weight: bold;
   font-size: 12px;
}
legend{
    font-size: 20px;
    text-align: center;
    border: 2px solid #009999;
    border-radius: 10px;
}
fieldset{
    border: 1px solid #002222;
    border-radius:10px; 
}
#errAge ,#errWeight ,#errHeight{
    color: red;
    font-size: 15px;
    }

 /*result design*/   
.result{
        font-size: 21px;
        font-weight: bold;
           font-weight:normal;

        color:brown;
}
#textCalc{
            font-size: 18px;
        font-family: fantasy;
        color:black;
          font-weight:normal;
}
#red{
    display: inline;
    color: red;
}
#green{
    display: inline;
    color: green;
}
#cl{
      text-align: center;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
   font-variant: small-caps;
   font-weight: bold;
    font-size: 18px;
}