  /*-Omri mizrahi 303082549
  Adi tayri 205530967   */


  /*styling for all the html pages */
/*table design*/
tr {
        font-family: Georgia, 'Times New Roman', Times, serif;
   font-variant: small-caps;
   font-weight: bold;
}

th 
{
     background-color: lightgrey;
         font-family: Georgia, 'Times New Roman', Times, serif;
   font-variant: small-caps;
   font-weight: bold;
     font-size: 18px;
}

table{
    width: 100%;

}
td{
    text-align: center;
    background-color:darkkhaki;
    font-family: Georgia, 'Times New Roman', Times, serif;
   font-variant: small-caps;
   font-weight: bold;
    font-size: 18px;
}
#lblDate , #lblQuantity
{
    font-size: 20px;
    font-family: fantasy;
}
#txtDate , #txtQuantity
{
    border-radius: 6px;
    width: 160px;
}
#inputCalories{

    text-align: center;
}

/*buttons*/
#cmdAdd , #cmdNew
{
    border-radius:8px;
    background-color:darkblue;
    color: blanchedalmond;
    width: 70px;
    height: 30px;  
}

/*chart design*/
#chartD{
    text-align: center;
}
#createChart{
    border-radius:8px;
    background-color:cornflowerblue;
    color: blanchedalmond;
    width: 30%;
    height: 30px;
    text-align: center;
}
#cl{
      text-align: center;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
   font-variant: small-caps;
   font-weight: bold;
    font-size: 28px;
}

#chartContainer
{
    height: 100%;
    width: 100%;
     
}