#results {
    border-color: black;
    border-width: 1px;
    border-style: outset;
    box-shadow: 6px 6px 4px #888888;
    visibility: hidden;
    opacity: 0
}

.resultsUnder, .resultsOver, .resultsNormal {
    font-size: 30px;
    text-align: cente;r;
}

.resultsUnder {
    background-color: coral
}

.resultsNormal {
    background-color: greenyellow
}
.resultsOver {
    background-color: red
}


